{% extends 'base.html.twig' %}

{% block title %}Éditer le cuisinier
	{{ cook.firstname }}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center mt-4">
		<h1>Éditer le cuisinier :
			{{ cook.firstname }}</h1>

		{{ include('cook/_form.html.twig', {'button_label': 'Éditer'}) }}

		<a href="{{ path('app_admin_index') }}">Retour</a>
	</div>

	{#
				Included in user/admin.html.twig
				{{ include('cook/_delete_form.html.twig') }} 
			#}
{% endblock %}
