{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menu.price }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ menu.rating }}</td>
            </tr>
            <tr>
                <th>Descr_appetizer</th>
                <td>{{ menu.descrAppetizer }}</td>
            </tr>
            <tr>
                <th>Descr_starter</th>
                <td>{{ menu.descrStarter }}</td>
            </tr>
            <tr>
                <th>Descr_meal</th>
                <td>{{ menu.descrMeal }}</td>
            </tr>
            <tr>
                <th>Descr_dessert</th>
                <td>{{ menu.descrDessert }}</td>
            </tr>
            <tr>
                <th>Descr_cheese</th>
                <td>{{ menu.descrCheese }}</td>
            </tr>
            <tr>
                <th>Descr_cuteness</th>
                <td>{{ menu.descrCuteness }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_menu_index') }}">back to list</a>

    <a href="{{ path('app_menu_edit', {'id': menu.id}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
