{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('assets/css/user.css') }}">
{% endblock %}

{% block content %}
	<main>
		<div class="header">
			<img rel="icon" src="{{ asset('assets/images/favicon.ico') }}"/>
			<h1>Espace Particulier</h1>
		</div>
		<div class="bg-image" style="background-image: url('assets/images/user.jpg')">
			<h2>Retrouvez votre historique de commandes et laissez nous votre avis !</h2>
			<table class="table_user">
				<tr>
					<th scope='col'>Date de réservation</th>
					<th scope='col'>Heure de réservation</th>
					<th scope='col'>Adresse</th>
					<th scope='col'>Chef cuisinier</th>
					<th scope='col'>Nom du menu</th>
					<th scope='col'>Quantité de prestation</th>
					<th scope='col'>Prix total</th>
				</tr>
				{% for booking in bookings %}
					<tr>
						<td>{{ booking.date }}</td>
						<td>{{ booking.time }}</td>
						<td>{{ booking.adress}}</td>
						<td>{{ booking.cook.firstname }}</td>
						<td>{{ booking.menu.name }}</td>
						<td>{{ booking.quantity }}</td>
						<td>{{ booking.price }}€</td>
					</tr>
				{% endfor %}
			</table>

			<h2>Tous vos menus déjà commandés notés</h2>
			<table class="table_user">
				<tr>
					<th scope='col'>Nom du menu</th>
					<th scope='col'>Note globale du menu</th>
					<th scope='col'>Note de l'utilisateur</th>
					<th scope='col'>Modification</th>
				</tr>
				{% for rating in ratings %}
					{% if user_rating.rating != '' %}
						<tr>
							<td>{{ user_rating.menu.name }}</td>
							<td>{{ user_rating.menu.rating }}</td>
							<td>{{ user_rating.rating }}</td>
							<td>
								<a href="{{ path('app_user_rating_edit', { 'id': user_rating.id }) }}">Modifier la note</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>

			<h2>Tous vos menus déjà commandés non notés</h2>
			<table class="table_user">
				<tr>
					<th scope='col'>Nom du menu</th>
					<th scope='col'>Note globale du menu</th>
					<th scope='col'>Ajout</th>
				</tr>
				{% for rating in ratings %}
					{% if user_rating.rating is null or user_rating.rating is empty %}
						<tr>
							<td>{{ user_rating.menu.name }}</td>
							<td>{{ user_rating.menu.rating }}</td>
							<td>
								<a href="{{ path('app_user_rating_new') }}">Ajouter une note !</a>
							</td>
						</tr>

					{% endif %}
				{% endfor %}
			</table>
		</div>
	</main>
{% endblock %}
